body{
    font-family: Verdana;
}

header{
    display: flex;
}

.lewy{
    background-color: #29434E;
    color: white;
    text-align: center;
    width: 70%;
    height: 70px;
}

.prawy{
    background-color: #29434E;
    color: white;
    width: 30%;
    height: 70px;
}

.polecamy, .filmy_fantastyczne{
    background-color: #B0BEC5;
    height: 320px;
    overflow: scroll;
}

.cont_filmy{
    display: flex;
    flex-wrap: wrap;
}

footer{
    background-color: #29434E;
    color: white;
}

h3{
    background-color: #546E7A;
    color: white;
    margin: 0;
}

h4{
    text-align: center;
    margin: 0;
}

.film{
    padding: 5px;
    width: 226px;
    height: 280px;
}